<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pandemic learning loss by state</title>
    <meta name="author" content="You">
    <meta name="description" content="A compendium of average math scores across the nation">
    <meta content="text/html" http-equiv="Content-type" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Load plotly.js into the DOM -->
	   <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
	   <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <%- include ('global/navbar');  %>
    <%- include ('global/header');  %>
  </head>

  <body>
    <header>
      <br><h1>MACRO-SUMMARY</h1>
      <p><h4>Description</h4>Our project aims to display pandemic learning loss visually on both a national and a state level. Our data compares
        the average math scores of 8th graders in 2019 versus 2022, and we have found that the average scores have declined in almost
        every single state. We hope to demonstrate insight into how the pandemic has affected learning for different demographics. </p>

    </header>

<script>
d3.csv('/Data-Journalism-Demo/Data-Journalism/public/data/scores.csv', function(err, rows){

  console.log('err: ' + err);

  console.log('I'm trying');

      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }


      var data = [{
          type: 'choropleth',
          locationmode: 'USA-states',
          locations: unpack(rows, 'Code'),
          z: unpack(rows, 'percent'),
          text: unpack(rows, 'Jurisdiction'),
          zmin:-5,
          zmax: 0,
          colorscale: [
              [0, 'rgb(255,0,0)'],
              [1, 'rgb(255,255,255)']
          ],
          colorbar: {
              title: '% change',
              thickness: 5
          },
          marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
      }];

      var layout = {
          title: 'Percent Change in 8th Grade Math Scores by State',
          geo:{
              scope: 'usa',
              showlakes: true,
              lakecolor: 'rgb(255,255,255)'
          }
      };

      Plotly.newPlot("myDiv", data, layout, {showLink: false});
});</script>

    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>


  <br>
   <p><h4>Takeaways</h4></p>
   <p>As you can see, the pandemic negatively affected math scores in every single state. This indicates that:</p>
   <p> 1) Zoom school was not as effective for teaching</p>
   <p> 2) Online school is not a substitute for in-person learning, and should not be implemented as an alternative under normal circumstances</p>
   <p> 3) Today's 8th graders are less adept at math compared to pre-COVID 8th graders, which could lead to lowered academic performance in high school</p>
   <p><h4>Problems</h4></p>
   <p>The first potentially problematic aspect of our visualization is that the US map is not proportional (in terms of size) for every state.
   This is the same problem that election maps raise -- that the state sizes are unproportional, and from just looking at the map it seems like the Republican
   candidate has won by a landslide, when in fact a lot of Democratic states are smaller in size, but hold the same weight. We could have had proportional
   squares for each state, which are laid out like the US map so that it is still recognizable as a map, but each of the states are visually weighted equally. </p>
   <p>The second potentially problematic aspect of our visualization is that we weren't sure what colors to use on our map. We were debating whether to use only
   shades of red or whether to use two different colors fading into each other. In using different colors, we could make one color signify that the state's percent decrease
   was above the national average and the other color signify that the percent change was below the national average. Ultimately, we decided to use only shades of red,
   because the point of our project was to show pandemic learning loss, and we thought that red naturally signified negative results. </p>

    <%- include ('global/footer');  %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
